<footer class="p-5 md:px-10 lg:px-32 ">
  <div class="flex flex-row justify-between">
  <div class="flex flex-row font-semibold md:text-2xl">
    <a href="/" class="mr-5 text-sm md:text-lg md:mr-10">Newsletter</a>
    <a href="/" class="mr-5 text-sm md:text-lg md:mr-10">Contact</a>
    <a href="/" class="text-sm md:text-lg md:mr-10">Press Room</a>
  </div>
  <div class="text-gray-400 md:text-2xl">
    <a href="/"><i class="fab fa-facebook-f"></i></a>
    <a href="/" class="md:ml-5"><i class="fab fa-twitter"></i></a>
    <a href="/" class="md:ml-5"><i class="fab fa-youtube"></i></a>
  </div>
</div>
<ul class="mt-10 md:mt-20">
    <li>EC1 GALLERY</li>
    <li>344 Clerkenwell Road</li>
    <li>London</li>
    <li>EC1 5RS</li>
    <li>Tel +44 (0) 207 123 4567</li>
</ul>
</footer>
