<div class="w-full h-16 bg-gray-800 flex flex-row mt-16 justify-around">
  <p class="text-gray-400 self-center text-xs w-1/5 md:w-2/5 md:text-xl md:pl-20"><span>&#169;</span>2017 EC1 GALLERY</p>
  <div class="flex flex-row text-xs md:text-xl text-white self-center justify-end w-4/5 md:3/5">
      <a href="" class="mr-5 md:mr-10">Cookie policy</a>
      <a href="" class="mr-5 md:mr-10">Terms of sale</a>
      <a href="" class="mr-5 md:mr-10">Privacy notice</a>
  </div>
</div>